@font-face{
    font-family: CustomCursive;
    src: url("Allura-Regular.ttf");
}
body {
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar-brand {
	padding-left: 2%;
}
.nav-item {
	font-family: CustomCursive;
	font-size: 200%;
	margin-left: 50%
}
.title {
	margin: 200px;
}
/* CSS Document */

