body {
	background-color: beige !important;
	background-image: none;
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
.accoms {
	width: 15%
}
#h1_address {
	font-size: 100%;
}
.hotelheader {
	margin-top: 1%;
			font-family: CustomCursive;
		font-size: 300%;
}
