@font-face{
    font-family: CustomCursive;
    src: url("Allura-Regular.ttf");
}
body {
	background-image: url("images/test index.JPG");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: bottom;
	overflow-x: hidden;

	
}
.navbar-brand {
	padding-left: 2%;
	font-family: CustomCursive;
	font-size: 300% !important;
}
.navbar-custom {
	background-color: beige !important;
}
.btn {
	margin-left: 2%;
	
}
html {
	height: 100%;
	width: 100%;
    margin: auto;
    overflow-y: scroll;
}
.wall {
	margin-top:1%;
	margin-left: 20%;
	margin-right: 20%;
	color: black;
}
.page-title {
	margin-top: 20%;
	font-family: CustomCursive;
	font-size: 550%;
	font-weight: lighter;
	color: beige;
}
.scrollicon {
	position: relative;
	height: 2%;
	width: 5%;
}
.subheader {
	font-family: CustomCursive;
	font-size: 250%;
	color: white;
}

