@font-face{
    font-family: CustomCursive;
    src: url("Allura-Regular.ttf");
}
body {
	background-image: url("engpic.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.homeBtn {
	margin: 8%;
	height: 60px;
	width: 120px;
	font-family: CustomCursive;
	padding-top: .5% !important;
	font-size: 200% !important;
}

